# Ignore node_modules directory
node_modules/

# Ignore databaseConfig
BackEnd/model/databaseConfig.js

# Ignore environment variables file
BackEnd/.env

# Ignore all files in logs folder
BackEnd/logs/*
# Except .gitkeep (or any placeholder file)
!BackEnd/logs/.gitkeep
